.yui-overlay,
.yui-panel-container {

	position: absolute;
	z-index: 1;

}

yui-panel-container form {

	margin: 0;

}

.masked .yui-panel-container {

    /*
        Default to a z-index 1 higher than default if the Panel is modal
        to make sure the panel is above its modality mask.
    */

   z-index: 2;

}

.mask {

    /*
        Default to a z-index of 1 less than the default defined 
        by ".masked .yui-panel-container"
    */

    z-index: 1; 
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    /*
        Application of "overflow:auto" prevents Mac scrollbars from bleeding
        through the modality mask in Gecko.
    */

    overflow: auto;

}


/* 
    PLEASE NOTE:

    1) ".masked select" is used to prevent <SELECT> elements bleeding through 
       the modality mask in IE 6. 

    2) ".drag select" is used to hide <SELECT> elements when dragging a 
       Panel in IE 6. 
    
    3) "hide-select select" is appended to an Overlay instance's root HTML 
       element when it is being annimated by YAHOO.widget.ContainerEffect 

*/

.masked select, 
.drag select, 
.hide-select select {

	_visibility: hidden;   

}

.yui-panel-container select {

	_visibility: inherit;

}


/*

PLEASE NOTE: There are two known issues with YAHOO.widget.Overlay (and its 
subclasses) that manifest in Gecko-based browsers on Mac OS X:

1) Elements with scrollbars will poke through Overlay instances floating 
   above them.

2) If an Overlay instance contains child elements with scrollbars, those
   scrollbars will remain visible after the Overlay is hidden.

To fix these bugs:

1) The "overflow" property of an Overlay instance's root element (or underlay 
   elment in the case of Panel and its subclasses) is toggled between
   "hidden" and "auto" through the application and removal of the 
   "hide-scrollbars" and "show-scrollbars" classes (see below) as its 
   "visibility" configuration property is toggled between "false" and "true."
   These classes are applied only for Gecko on Mac OS X and are added/removed 
   to/from the Overlay's root HTML element (DIV) via the 
   "hideMacGeckoScrollbars" and "showMacGeckoScrollbars" methods of  
   YAHOO.widget.Overlay.

2) The "overflow" property of an Overlay instance's child nodes is
   set to "hidden" and the "display" property of child HTML 
   <SELECT> elements that a child nodes of the Overlay instance's root element 
   are set to "none" (see below) when it is hidden.

* For more information on this issue, see:
+ https://bugzilla.mozilla.org/show_bug.cgi?id=187435
+ SourceForge bug #1723530

*/

.hide-scrollbars,
.hide-scrollbars * {

	overflow: hidden;

}

.hide-scrollbars select {

	display: none;

}

.show-scrollbars {

    overflow: auto;

}

.yui-panel-container.show-scrollbars,
.yui-tt.show-scrollbars {

    overflow: visible;

}

.yui-panel-container.hide-scrollbars .underlay,
.yui-tt.hide-scrollbars .yui-tt-shadow {

    overflow: hidden;

}

.yui-panel-container.show-scrollbars .underlay,
.yui-tt.show-scrollbars .yui-tt-shadow {

    overflow: auto;

}


/*
    PLEASE NOTE: The <DIV> element used for a Tooltip's shadow is appended 
    to its root element via JavaScript once it has been rendered.  The 
    code that creates the shadow lives in the Tooltip's public "onRender" 
    event handler that is a prototype method of YAHOO.widget.Tooltip.  
    Implementers wishing to remove a Tooltip's shadow or add any other markup
    required for a given skin for Tooltip should override the "onRender" method.
*/

.yui-tt-shadow {

    position: absolute;

}