* html body.masked select {
	visibility:hidden;
}

* html div.panel-container select {
	visibility:inherit;
}

* html div.drag select {
	visibility:hidden;
}

* html div.hide-select select {
	visibility:hidden;
}

body.masked {
	height:100%;
}

.mask {
    z-index:0;   
    display:none;
    position:absolute;
    top:0;
    left:0;
    background-color:#CCC;
    -moz-opacity: 0.5;
    opacity:.50;
    filter: alpha(opacity=50);
    }
.mask[id]{ /* IE6 and below Can't See This */
    position:fixed;
}

.panel-container {
	position:absolute;
	background-color:transparent;
	z-index:6;
	visibility:hidden;
	overflow:visible;
	width:auto;
}

.panel-container.matte {
	padding:3px;
	background-color:#FFF;
}

.panel-container.matte .underlay {
	display:none;
}

.panel-container.shadow {
	padding:0px;
	background-color:transparent;
}

.panel-container.shadow .underlay {
	visibility:inherit;
	position:absolute;
	background-color:#CCC;
	top:3px;left:3px;
	z-index:0;
	width:100%;
	height:100%;
    -moz-opacity: 0.7;
    opacity:.70;
    filter:alpha(opacity=70);
}

.panel {
	visibility:hidden;
	border-collapse:separate;
	position:relative;
	left:0px;top:0px;
	font:1em Arial;
	background-color:#FFF;
	border:1px solid #000;
	z-index:1;
	overflow:hidden;
}

.panel .hd {
	background-color:#3d77cb;
	color:#FFF;
	font-size:1em;
	height:1em;
	border:1px solid #FFF;
	border-bottom:1px solid #000;
	font-weight:bold;
	overflow:hidden;
	padding:4px;
}

.panel .bd {
	overflow:hidden;
	padding:4px;
}

.panel .bd p {
	margin:0 0 1em;
}

.panel .close {
	position:absolute;
	top:5px;
	right:4px;
	z-index:6;
	height:12px;
	width:12px;
	margin:0px;
	padding:0px;
	background-repeat:no-repeat;
	cursor:pointer;
	visibility:inherit;
}

.panel .close.nonsecure {
	background-image:url(http://us.i1.yimg.com/us.yimg.com/i/nt/ic/ut/alt3/close12_1.gif);
}

.panel .close.secure {
	background-image:url(https://a248.e.akamai.net/sec.yimg.com/i/nt/ic/ut/alt3/close12_1.gif);
}

.panel .ft {
	padding:4px;
	overflow:hidden;
}
