.yui-skin-sam .mask {

    z-index: 0;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .25;
    filter: alpha(opacity=25);
    background-color: #000;

}

.yui-skin-sam .yui-panel-container.matte {

	padding: 3px;
	background-color: #fff;

}

.yui-skin-sam .yui-panel-container.matte .underlay {

	display:none;

}

.yui-skin-sam .yui-panel-container.shadow .underlay {

	position: absolute;
    top: 2px;
    right: -4px;
    left: -4px;
    bottom: -3px;
    background-color: #000;
    opacity: .12;
    filter: alpha(opacity=12);  /* For IE */

}

.yui-skin-sam .yui-panel {

	position: relative;
	left: 0;
	top: 0;
    border-style: solid;
    border-width: 1px 0;
    border-color: #808080;
	z-index: 1;

}

.yui-skin-sam .yui-panel .hd, 
.yui-skin-sam .yui-panel .bd, 
.yui-skin-sam .yui-panel .ft {

    border-style: solid;
    border-width: 0 1px;
    border-color: #808080;
    margin: 0 -1px;
  
}

.yui-skin-sam .yui-panel .hd {

    border-bottom: solid 1px #ccc;

}

.yui-skin-sam .yui-panel .bd,
.yui-skin-sam .yui-panel .ft {

    background-color: #F2F2F2;

}

.yui-skin-sam .yui-panel .hd {

    padding: 0 10px;
    font-size: 93%;  /* 12px */
    line-height: 2;  /* ~24px */
    *line-height: 1.9; /* For IE */
    font-weight: bold;
    color: #000;
    background: url(sprite.png) repeat-x 0 -200px;
    
}

.yui-skin-sam .yui-panel .bd {

    padding: 10px;

}

.yui-skin-sam .yui-panel .ft {

    padding: 0 10px 10px 10px;
    text-align: right;

}

.yui-skin-sam .yui-panel-container.focused {

    /* To do - default focused style for this skin? */

}

.yui-skin-sam .container-close {

    position: absolute;
    top: 5px;
    right: 6px;
    width: 25px;
    height: 15px;
    background:url(sprite.png) no-repeat 0 -300px;

}

.yui-skin-sam .yui-simple-dialog .bd .yui-icon {

    background: url(sprite.png) no-repeat 0 0;
	width: 16px;
	height: 16px;
	margin-right: 10px;
	float: left;

}

.yui-skin-sam .yui-simple-dialog .bd span.blckicon {

    background-position: 0 -1100px;

}

.yui-skin-sam .yui-simple-dialog .bd span.alrticon {

    background-position: 0 -1050px;

}

.yui-skin-sam .yui-simple-dialog .bd span.hlpicon {

    background-position: 0 -1150px;

}

.yui-skin-sam .yui-simple-dialog .bd span.infoicon {

    background-position: 0 -1200px;

}

.yui-skin-sam .yui-simple-dialog .bd span.warnicon {

    background-position: 0 -1900px;

}

.yui-skin-sam .yui-simple-dialog .bd span.tipicon {

    background-position: 0 -1250px;

}

.yui-skin-sam .yui-tt .bd {

    color: #000;
    line-height: 1.465; /* 19px */
    padding: 0 5px;
    border-color: #D4C237 #A6982B #A6982B #A6982B;
    border-width: 1px;
    border-style: solid;
    background-color: #FFEE69;

}