.tt {
	visibility:hidden;
	position:absolute;
	color:#333;
	background-color:#FDFFB4;
	font-family:arial,helvetica,verdana,sans-serif;
	padding:2px;
	border:1px solid #FCC90D;
	font:100% sans-serif;
	width:auto;
}