#yui-examples {border-left:1px solid #dedede; padding-left:1em;}
ul#example-promos after{content:".";display:block;height:0;clear:both;visibility:hidden;}
ul#example-promos {margin-left:0;}
ul#example-promos li {margin:.5em .5em 0 0; list-style:none; float:left; padding:0;}
.example-promo-next-content {clear:left; zoom:1; padding-top:1em;}
ul#examples-list {list-style-type:none;}
ul#examples-list li {padding-left:7em; padding-bottom:1.5em; background-repeat:no-repeat; min-height:60px; color:#666;}
li#fp {background-image:url(bullet-fp.gif);}
li#my {background-image:url(bullet-my.gif); }
li#ifilm {background-image:url(bullet-ifilm.gif); }
li#podtech {background-image:url(bullet-podtech.gif); }
li#pr {background-image:url(bullet-pr.gif); }
li#sugarcrm {background-image:url(bullet-sugarcrm.gif); }
li#smugmug {background-image:url(bullet-smugmug.gif); }
html .tt {color:#CCCCCC; background-color:#0066CC;text-align:left; border:1px solid #FF9900;font-size:114%;}
html .tt .bd {padding:4px;}
#yui-examples h2.first {padding-top:0;}