<IfModule mod_rewrite.c>
RewriteEngine On

RewriteBase /yui/examples

RewriteRule ^calendar$ calendar/index.php
RewriteRule ^calendar/$ calendar/index.php

RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^calendar/([a-zA-Z0-9]+)/$ calendar/$1 [R=301,L]

RewriteCond %{REQUEST_URI} !^.*index.php.*$
RewriteRule ^calendar/([a-zA-Z0-9]+)$  calendar/$1/1 [R=301,L]

RewriteRule ^calendar/([a-zA-Z0-9]+)/([0-9]+)$  calendar/index.php?section=$1&step=$2
RewriteRule ^calendar/([a-zA-Z0-9]+)/solution$  calendar/$1-solution.html
RewriteRule ^calendar/([a-zA-Z0-9]+)/print$  calendar/print.php?section=$1


RewriteRule ^container$ container/index.php
RewriteRule ^container/$ container/index.php

RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^container/([a-zA-Z0-9]+)/$ container/$1 [R=301,L]

RewriteCond %{REQUEST_URI} !^.*index.php.*$
RewriteRule ^container/([a-zA-Z0-9]+)$  container/$1/1 [R=301,L]

RewriteRule ^container/([a-zA-Z0-9]+)/([0-9]+)$  container/index.php?section=$1&step=$2
RewriteRule ^container/([a-zA-Z0-9]+)/solution$  container/$1-solution.html
RewriteRule ^container/([a-zA-Z0-9]+)/print$  container/print.php?section=$1


</IfModule>
