body {
	background-image:url(../img/bg.png);
	background-repeat:repeat-x;
	background-color:#FFFFFF;
}

.homeLink {
	background-color:#CCC;position:absolute;right:0;top:0;text-align:center;padding:5px;margin-bottom:5px;border:1px solid #CCC;width:75px;
}

label {
	float:left;
	width:150px;
}
.buttonset {
	clear:both;
	text-align:right;
}

.box code, .box xmp {
	display:block;
	padding:5px;
	font-size:11px;
	background-color:#EEE;
	border:1px solid #555;
	margin:10px;
}

.bd form {
	margin:0px;
}

.box {
	border:1px solid #CCC;
	background-color:#FFF;
	padding:5px;
	width:700px;
	}

	.box p {
		margin:10px;
	}

	.box h1 {
		font-family:georgia,times new roman,times,serif;
		color:purple;
		font-size:24px;
		margin-top:0px;
		margin-bottom:10px;
		padding-bottom:5px;
		border-bottom:1px dotted black;
	}

	.box h2 {
		font-family:georgia,times new roman,times,serif;
		color:purple;
		font-size:14px;
		margin-top:0px;
		margin-bottom:10px;
		padding-bottom:5px;
		border-bottom:1px dotted black;
	}

	.box h3 {
		font-family:georgia,times new roman,times,serif;
		color:black;
		font-size:11px;
		margin-top:0px;
		margin-bottom:5px;
		padding-bottom:5px;
	}


button {
	font:100 76% verdana;
	text-decoration:none;
	background-color: #E4E4E4;
	color: #333;
	cursor: hand;
	vertical-align: middle;
	border: 2px solid #797979;
	border-top-color:#FFF;
	border-left-color:#FFF;
	margin:2px;
	padding:2px;
}

button.default {
	font-weight:bold;
}

button:hover, button.hover { 
	border:2px solid #90A029;
	background-color:#EBF09E;
	border-top-color:#FFF;
	border-left-color:#FFF;
}

button:active { 
	border:2px solid #E4E4E4;
	background-color:#BBB;
	border-top-color:#333;
	border-left-color:#333;
}

div.overlayform {
	width:700px;
	border:1px solid black;
	background-color:#FFF;
}

div.overlayform .formheader {
	padding:5px;
	font-weight:bold;
	background-color:#D92121;
	color:#FFF;

}

div.overlayform textarea {
	width:450px;
	height:50px;
}

div.overlayform button {
	float:right;
	margin-right:10px
}

div.row {
	clear:both;
	vertical-align:middle;
	padding-bottom:5px;
}

div.row.header {
	font-weight:bold;
	background-color:#666;
	color:#FFF;
	vertical-align:middle;
	height:1em;
}

div.row.first {
	margin-top:5px;
}

div.row.last {
	margin-bottom:5px;
}

div.row div.label {
	float: left;
	width: 125px;
	margin-right:10px;
	text-align: right;
	vertical-align:middle;
}

div.row div.formw {
	float: left;
	text-align: left;
	vertical-align:middle;
} 

#resp {
	font-family:courier;
	font-size:12px;
	margin-top:0px;
}

.box label {
	float:none;
}

.radioline {
	width:100%;
	clear:both;
}

.radioline.first {
	margin-top:10px;
}

.radioline.last {
	margin-bottom:10px;
}