/*foundational css*/
th .yui-dt-header {
    position:relative;
}

th .yui-dt-label {
    position:relative;
}

.yui-dt-resizer {
    position:absolute;
    right:0;
    bottom:0;
    height:100%;
    cursor:e-resize;
    cursor:col-resize;
    z-index:9000;
    zoom:1; /* needed to block events in ie */
}

/* foundational scrolling css */
.yui-dt-scrollable thead tr {
    *position:relative;  /* for ie */
}
.yui-dt-scrollable  {
    *overflow-y:auto; /* for ie */
}

.yui-dt-scrollblock thead, .yui-dt-scrollblock .yui-dt-scrollbody {
    display:block; /* for safari and opera */
}

.yui-dt-scrollbody {
    overflow:auto;overflow-x:hidden; /* for opera */
}

/* foundational editor css */
.yui-dt-editor {
    position:absolute;z-index:9000;
}
