/*debug css
.example span, .example .yui-dt-columntext {border:1px solid red;}*/

/*foundational css*/
td {
    overflow:hidden;
}

.yui-dt-headcontainer {
    position:relative;
    
}

.yui-dt-columntext {
    position:relative;
    border-right:10px;
}

.yui-dt-headresizer {
    position:absolute;
    margin-right:-6px;
    right:0;
    bottom:0;
    width:6px;
    height:100%;
    cursor:w-resize;
    cursor:col-resize;
}

.yui-dt-sortable {
    cursor:hand;
    cursor:pointer;
    text-decoration:underline;
}/*margin:0 4px 0 4px;*/

.yui-dt-scrolling  {
   width:20em;
   margin-bottom:3em;
}


.yui-dt-scrolling  thead {
   background:#696969; /*  IE needs a bgcolor to hide tbody as it scrolls */
   border:1px solid #000;
   display:block; /* enables tbody scrolling for safari and opera */
}

.yui-dt-scrolling  thead th {
   width:10em; /* any value seems to here, just need something */
}

.yui-dt-scrolling  tbody.yui-dt-tbody {
   display:block; /* enables tbody scrolling for safari and opera */
   height:10em;
   overflow:auto; /* for scrolling other than IE */
}

/* IE specific */
.yui-dt-scrolling  {
   height:10em;
   *overflow-y:auto;
}

.yui-dt-scrolling  tbody {
   *height:auto; /* override the non IE height */
}

.yui-dt-scrolling thead tr {
   position:relative;  /* IE cant scroll tbody, so trick it into fixing thead */
}

.yui-dt-scrolling tbody td {
    width:10em;
}


