/*foundational css*/
table.yui-dt-table {
    xtable-layout:fixed;
}

th .yui-dt-header {
    position:relative;
}

th .yui-dt-label {
    position:relative;
}


.yui-dt-resizer {
    position:absolute;
    right:0;
    bottom:0;
    height:100%;
    cursor:e-resize;
    cursor:col-resize;
    z-index:9999;
}

/* foundational resizing css */
/* TODO: remove redundancies with scrolling css */
.yui-dt-table thead {
    display:block; /* for safari and opera */
}
.yui-dt-table thead tr {
    position:relative;  /* for ie */
}
.yui-dt-body {
    display:block; /* for safari and opera */
    overflow:auto; /* for gecko */
}

/* foundational scrolling css */
.yui-dt-scrollable  {
    *overflow-y:auto; /* for ie */
}
.yui-dt-scrollable  thead {
    display:block; /* for safari and opera */
}
.yui-dt-scrollable thead tr {
    position:relative;  /* for ie */
}
.yui-dt-scrollbody {
    display:block; /* for safari and opera */
    overflow:auto; /* for gecko */
}

.yui-dt-editor {
    position:absolute;z-index:9000;
}
