/* Menu styles */


/*
    Matches a Menu instance
*/

div.yuimenu {

    z-index:1;
    visibility:hidden;
    position:absolute;
    background-color:#f6f7ee;
    border:solid 1px #c4c4be;
    padding:1px;

    /*
         IE (5.5. and 6) expression for:
         -------------------------------
         div.yuimenu>div.bd>div.yuimenu
    */

    _behavior:expression(

        void(
            this.IsGroupMember = (
                this.parentNode && 
                this.parentNode.parentNode && 
                this.parentNode.parentNode.className.indexOf("yuimenu") > -1
            )
        ),

        void(this.style.visibility = this.IsGroupMember ? "inherit" : ""),
        void(this.style.position = this.IsGroupMember ? "static" : ""),
        void(this.style.borderWidth = this.IsGroupMember ? "1px 0 0 0" : ""),
        void(this.style.padding = this.IsGroupMember ? "1px" : ""),
        void(this.runtimeStyle.behavior = "none")

    );
    
}


/*
    Matches a Menu instance that is a member of a group
*/

div.yuimenu>div.bd>div.yuimenu {

    visibility:inherit;
    position:static;
    border-width:1px 0 0 0;
    padding:0;

}


/*
    Matches the first Menu instance in a group of Menus
*/

div.yuimenu>div.bd>div.first {

    border-width:0;

}


/*
    IE (5.5. and 6) expression for:
    -------------------------------
    div.yuimenu>div.bd>div.first
*/

div.first {

    _behavior:expression(

        void(
            this.IsFirstGroupMember = (
                this.parentNode && 
                this.parentNode.parentNode && 
                this.parentNode.parentNode.firstChild.firstChild == this && 
                this.parentNode.parentNode.className.indexOf("yuimenu") > -1            
            )
        ),

        void(this.style.visibility = this.IsFirstGroupMember ? "inherit" : ""),
        void(this.style.position = this.IsFirstGroupMember ? "static" : ""),
        void(this.style.borderWidth = this.IsFirstGroupMember ? "0" : ""),
        void(this.style.padding = this.IsFirstGroupMember ? "1px" : ""),
        void(this.runtimeStyle.behavior = "none")

   );

}


/* Matches the UL inside a Menu instance */

div.yuimenu ul {

    list-style-type:none;
    margin:0;
    padding:10px 0;

}


/* MenuItem styles */


/* Matches a MenuItem instance */

div.yuimenu li {

    font-size:85%;
    padding:2px 24px 2px 24px;
    cursor:pointer;
    cursor:hand;
    white-space:nowrap;
    text-align:left;

}

div.yuimenu li li {

    font-size:100%;

}

/* Matches the help text for a MenuItem instance */

div.yuimenu li em {

    font-style:normal;
    margin:0 0 0 40px;

}

div.yuimenu li a em {

    margin:0;

}

div.yuimenu li a {
    
    color:#000;
    text-decoration:none;
    
}


/* Matches the sub menu indicator for a MenuItem instance */

div.yuimenu li img {
  
    margin:0 -16px 0 10px;
    border:0;

}

div.yuimenu li.hassubmenu,
div.yuimenu li.hashelptext {

    text-align:right;

}

div.yuimenu li.hassubmenu a.hassubmenu,
div.yuimenu li.hashelptext a.hashelptext {

    float:left;
    text-align:left;

}


/* Matches focused and selected MenuItem instances */

div.yuimenu li.focus,
div.yuimenu li.selected {

    background-color:#8c8ad0;

}

div.yuimenu li.focus a.focus {

    text-decoration:underline;

}

div.yuimenu li.focus a.focus,
div.yuimenu li.focus em.focus,
div.yuimenu li.selected a.selected,
div.yuimenu li.selected em.selected {

    color:#fff;

}


/* Matches disabled MenuItem instances */

div.yuimenu li.disabled {

    cursor:default;

}

div.yuimenu li.disabled a.disabled,
div.yuimenu li.disabled em.disabled {

    color:#b9b9b9;
    cursor:default;
    
}