


/* MenuBar style rules */

.yuimenubar {

    background-color: #f6f7ee;
    
}



/* Menu style rules */

.yuimenu {

    background-color: #f6f7ee;
    border: solid 1px #c4c4be;
    padding: 1px;
    
}

.yui-menu-shadow {

    display: none;

}

.yuimenu ul {

    border: solid 1px #c4c4be;
    border-width: 1px 0 0 0;
    padding: 10px 0;

}

.yuimenu .yui-menu-body-scrolled {

    overflow: hidden;

}


/* Group titles */

.yuimenu h6,
.yuimenubar h6 { 

    font-size: 100%;
    font-weight: normal;
    border: solid 1px #c4c4be;
    color: #b9b9b9;    

}

.yuimenubar h6 {

    float: left;
    padding: 4px 12px;
    border-width: 0 1px 0 0;

}

.yuimenubar .yuimenu h6 {

    float: none;

}

.yuimenu h6 {

    border-width: 1px 0 0 0;
    padding: 5px 10px 0 10px;

}

.yuimenu ul.first-of-type, 
.yuimenu ul.hastitle,
.yuimenu h6.first-of-type {

    border-width: 0;

}



/* Top and bottom scroll controls */

.yuimenu .topscrollbar,
.yuimenu .bottomscrollbar {

    height: 16px;
    background-position: center center;
    background-repeat: no-repeat;

}

.yuimenu .topscrollbar {

    background-image: url(../img/menu_up_arrow.png);

}

.yuimenu .topscrollbar_disabled {

    background-image: url(../img/menu_up_arrow_disabled.png);

}

.yuimenu .bottomscrollbar {

    background-image: url(../img/menu_down_arrow.png);

}

.yuimenu .bottomscrollbar_disabled {

    background-image: url(../img/menu_down_arrow_disabled.png);

}


/* MenuItem and MenuBarItem styles */

.yuimenuitem {

    /*
        For IE: Used to collapse superfluous white space between <li> elements
        that is triggered by the "display" property of the <a> elements being
        set to "block."
    */

    *border-bottom: solid 1px #f6f7ee;

}

.yuimenuitemlabel,
.yuimenubaritemlabel {

    font-size: 85%;
    color: #000;
    text-decoration: none;

}

.yuimenuitemlabel {

    padding: 2px 24px;
    
}

.yuimenubaritemlabel {

    border-width: 0 0 0 1px;
    border-style: solid;
    border-color: #c4c4be;
    padding: 4px 24px;

}

.yuimenubar li.first-of-type .yuimenubaritemlabel {

    border-width: 0;

}

.yuimenubaritem-hassubmenu {

    background: url(../img/menubaritem_submenuindicator.png) right center no-repeat;

}

.yuimenuitem-hassubmenu {

    background: url(../img/menuitem_submenuindicator.png) right center no-repeat;

}

.yuimenuitem-checked {

    background: url(../img/menuitem_checkbox.png) left center no-repeat;

}

.yuimenuitemlabel .helptext {

    margin-top: -1.1em;
    *margin-top: -1.2em;  /* For IE*/
    
}



/* MenuItem states */


/* Selected MenuItem */

.yuimenubaritem-selected,
.yuimenuitem-selected {

    background-color: #8c8ad0;

}

.yuimenubaritemlabel-selected,
.yuimenuitemlabel-selected {

    text-decoration: underline;
    color: #fff;

}

.yuimenubaritem-hassubmenu-selected {

    background-image: url(../img/menubaritem_submenuindicator_selected.png);

}

.yuimenuitem-hassubmenu-selected {

    background-image: url(../img/menuitem_submenuindicator_selected.png);

}

.yuimenuitem-checked-selected {

    background-image: url(../img/menuitem_checkbox_selected.png);

}


/* Disabled MenuItem */

.yuimenubaritemlabel-disabled,
.yuimenuitemlabel-disabled {

    cursor: default;
    color: #b9b9b9;

}

.yuimenubaritem-hassubmenu-disabled {

    background-image: url(../img/menubaritem_submenuindicator_disabled.png);

}

.yuimenuitem-hassubmenu-disabled {

    background-image: url(../img/menuitem_submenuindicator_disabled.png);

}

.yuimenuitem-checked-disabled {

    background-image: url(../img/menuitem_checkbox_disabled.png);

}