<?php 
$title="Yahoo! UI Library: Layout Manager";
$section="layout";
$component="Layout Manager";
$highlightSyntax = true;
$releasenotes = true;
include "../inc/header.inc";
?>
<div id="yui-main">
<div class="yui-b">
  <div class="yui-ge">
      <div class="yui-u first">
	  
	  
<div id="promo" class="component">
  <h1>Layout Manager</h1>
    <p><img src="assets/layout.png" alt="The YUI Layout Manager" width="280" height="192" hspace="10" vspace="5" align="right">The YUI Layout Manager allows you to create cross-browser, pixel-perfect application layouts with little effort. Layout Manager establishes structured layouts containing top, bottom, left, right and center layout units.  Units can be resized or collapsed by the user; properties and contents of layout units can be modifed scriptologically through an extensive API.  Layout Manager can establish a new layout either at the body-element level (taking up the full viewport) or within a single element (such as within a <a href="http://developer.yahoo.com/yui/container/panel/">Panel</a>).</p>
    

  <div>
    <h4>On This Page:</h4>
    <ul>
        <li><a href="#start">Getting Started</a></li>
        <li><a href="#layouts">Layouts</a></li>
        <li><a href="#wireframe">Layout Wireframe</a></li>
        <li><a href="#units">Layout Units</a></li>
        <li><a href="#setuplayout">Setting up a Layout</a></li>
        <li><a href="#setupunit">Setting up the Layout Units</a></li>
        <li><a href="#configunit">Configuring a unit</a></li>
        <li><a href="#cssclasses">Layout CSS Class Names</a></li>
        <li><a href="#skinning">Skinning a Layout</a></li>
        <li><a href="#mobile">YUI on Mobile Devices</a></li>
        <li><a href="#support">Support &amp; Community</a></li>
	    <li><a href="#filingbugs">Filing Bugs and Feature Requests</a></li>
    </ul>
  </div>

<?php
include('../inc/quicklinks.inc');
?>

</div>
<h2 class="first" id="start">Getting Started</h2>
<p>To use the Layout Manager, include the following source files in your web page:</p>
<textarea name="code" class="HTML" cols="60" rows="1">
<!-- Skin CSS files resize.css must load before layout.css -->
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/<?php echo($yuiCurrentVersion);?>/build/assets/skins/sam/resize.css">
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/<?php echo($yuiCurrentVersion);?>/build/assets/skins/sam/layout.css">
<!-- Utility Dependencies -->
<script src="http://yui.yahooapis.com/<?php echo($yuiCurrentVersion);?>/build/yahoo-dom-event/yahoo-dom-event.js"></script> 
<script src="http://yui.yahooapis.com/<?php echo($yuiCurrentVersion);?>/build/dragdrop/dragdrop-min.js"></script> 
<script src="http://yui.yahooapis.com/<?php echo($yuiCurrentVersion);?>/build/element/element-beta-min.js"></script> 
<!-- Optional Animation Support-->
<script src="http://yui.yahooapis.com/<?php echo($yuiCurrentVersion);?>/build/animation/animation-min.js"></script> 
<!-- Optional Resize Support -->
<script src="http://yui.yahooapis.com/<?php echo($yuiCurrentVersion);?>/build/resize/resize-min.js"></script>
<!-- Source file for the Layout Manager -->
<script src="http://yui.yahooapis.com/<?php echo($yuiCurrentVersion);?>/build/layout/layout-min.js"></script>
</textarea>
<?php
include "../inc/include-notice.inc";
?>

<h2 id="layouts">Layouts</h2>
<p>There are 2 different types of layouts supported by the Layout Manager: full page and element-based.</p>
<p>A full page layout will take over the entire screen and fill up all available space. <a href="/yui/examples/layout/page_layout_source.html">View a full page example</a>.</p>
<p>An element-based layout will take over the entire area of a given element on the page (like a panel or DIV). <a href="/yui/examples/layout/panel_layout_source.html">View an element-based example</a>.</p>
<p>Each layout is comprised of 1 to 5 Layout Units, each having is own set of configuration options. These units are then given a position inside the layout of: Top, Right, Bottom, Left or Center. There can be only one Layout Unit per position; Layout Manager will not let you add a unit to a position if it has already been filled.
The only required Layout Unit is the one at the <code>center</code> position. The center unit is the fluid unit, it should not have a height or width assigned to it as it will automatically be calculated based on the sizes of the other units and the space available for the layout. It also cannot be resizable, the other units are responsible for this setting.</p>
<p></p>

<h2 id="wireframe">Layout Wireframe</h2>
<p>Below is a wireframe showing the various positions of the layout. <a href="http://yuiblog.com/assets/pdf/LayoutManager.pdf">Download this PDF file for a more detailed view.</a></p>
<center><a href="http://yuiblog.com/assets/pdf/LayoutManager.pdf"><img src="assets/wireframe.jpg" alt="Layout Wireframe" width="527" height="335"></a></center>

<h2 id="units">Layout Units</h2>
<p>Layout units are the individual areas inside of the main layout. Each unit is comprised of a modified version of the "<a href="http://developer.yahoo.com/yui/container/module/#html">Standard Module Format</a>". The difference is that their CSS classnames have a <code>yui-layout</code> prefix.</p>

<p>Each Layout Unit has the ability to be added and removed after the layout has been rendered. They are also highly customizable through the various configuration options. <a href="/yui/docs/YAHOO.widget.LayoutUnit.html">See the API docs for a complete list.</a></p>

<h2 id="setuplayout">Setting Up a Layout</h2>
<p>Setting up a full page layout is as simple as passing in the config for the layout, if no element is passed as the first parameter the Layout Manager will assume that we are going to take the whole screen.</p>

<textarea name="code" class="JScript">
//Full Page Layout
var layoutFull = new YAHOO.widget.Layout({ /* Config here */});
layoutFull.render();

//Element Based Layout
var layoutEl = new YAHOO.widget.Layout('demo', { /* Config here */});
layoutEl.render();
</textarea>
<h2 id="setupunit">Setting Up the Layout Units</h2>

<p>Each area of the layout (top, right, bottom, left and center) are made up of <code>LayoutUnit</code>'s.</p>
<p>The only <strong>required</strong> unit is the center unit. It will be the one that is fluid when styled.</p>
<p>We can setup these units by passing them into the unit array configuration option.</p>

<textarea name="code" class="JScript">
var layout = new YAHOO.widget.Layout({
    units: [
        { position: 'top', height: 50 }, //Height required here
        { position: 'right', width: 300 }, //Width required here
        { position: 'bottom', height: 100 }, //Height required here
        { position: 'left', width: 200 }, //Width required here
        { position: 'center' }
    ]
});
layout.render();
</textarea>

<h2 id="configunit">Configuring a Unit</h2>

<p>Each unit has it's own configuration settings. In the example below we, will show the following options:
<ul>
    <li><code>position</code>: The position that this unit will take in the Layout.</li>
    <li><code>header</code>: The string to use for the Header of the unit.</li>
    <li><code>width</code>: The width (in pixels) that the unit will take up in the layout (only applies to left and right units and <strong>is required</strong>).</li>
    <li><code>height</code>: The height (in pixels) that the unit will take up in the layout (only applies to top and bottom units and <strong>is required</strong>).</li>
    <li><code>resize</code>: Boolean indicating whether this unit is resizeable.</li>
    <li><code>gutter</code>: The gutter applied to the unit's wrapper, before the content.</li>
    <li><code>footer</code>: An id or string to use as the footer of the unit.</li>
    <li><code>collapse</code>: Boolean indicating whether this unit is collapsible (if <code>true</code>, places an icon in the header).</li>
    <li><code>scroll</code>: Boolean indicating whether the unit's body should have scroll bars if the body content is larger than the display area.</li>
    <li><code>body</code>: An id or string to be used as the unit's body</li>
    <li><code>animate</code>: Boolean indicating whether the expand and collapse transitions should be animated; if <code>true</code>, requires the <a href="http://developer.yahoo.com/yui/animation/">Animation Utility</a>.</li>
</ul>
</p>
<p><strong>Note:</strong> The <code>center</code> LayoutUnit does not support the following configuration options: <code>resize, width, height, collapse, animate,  close</code></p>
<p>See the <a href="/yui/docs/module_layout.html">API docs</a> for more info on LayoutUnit options.</p>
<h3>The configuration for the Right unit:</h3>
<textarea name="code" class="JScript">
{
    position: 'right',
    header: 'Right',
    width: 300,
    resize: true,
    gutter: '5px',
    footer: 'Footer',
    collapse: true,
    scroll: true,
    body: 'right1',
    animate: true
}
</textarea>

<h3>A complete Layout configuration:</h3>
<textarea name="code" class="JScript">
(function() {
    var Dom = YAHOO.util.Dom,
        Event = YAHOO.util.Event;

    Event.onDOMReady(function() {
        var layout = new YAHOO.widget.Layout({
            units: [
                {
                    position: 'top',
                    height: 50, 
                    resize: false, 
                    gutter: '5px', 
                    collapse: true, 
                    resize: true
                },
                {
                    position: 'right',
                    header: 'Right',
                    width: 300,
                    resize: true, 
                    gutter: '5px', 
                    footer: 'Footer', 
                    collapse: true, 
                    scroll: true
                },
                {
                    position: 'bottom', 
                    header: 'Bottom', 
                    height: 100, 
                    resize: true, 
                    gutter: '5px', 
                    collapse: true
                },
                {
                    position: 'left',
                    header: 'Left',
                    width: 200,
                    resize: true,
                    gutter: '5px',
                    collapse: true,
                    close: true,
                    collapseSize: 50,
                    scroll: true
                },
                {
                    position: 'center'
                }
            ]
        });
        layout.render();
    });
})();
</textarea>


<h2 id="cssclasses">Layout CSS Class Names</h2>
<div class="apisummary short">
    <table border="0" id="crop_config">
        <tr class="odd">
            <th>Class Name</th>
            <th>Applied To</th>
        </tr>
        <tr>
            <td>.yui-layout</td>
            <td>Applied to the element that is the root of the layout.</td>
        </tr>
        <tr class="odd">
            <td>.yui-layout-doc</td>
            <td>Applied to the first wrapper around the layout.</td>
        </tr>
        <tr>
            <td>.yui-layout-unit</td>
            <td>Applied to root element of each layout unit.</td>
        </tr>
        <tr class="odd">
            <td>.yui-layout-unit-left</td>
            <td>Applied to the root element of the left unit.</td>
        </tr>
        <tr>
            <td>.yui-layout-unit-right</td>
            <td>Applied to the root element of the right unit.</td>
        </tr>
        <tr class="odd">
            <td>.yui-layout-unit-top</td>
            <td>Applied to the root element of the top unit.</td>
        </tr>
        <tr>
            <td>.yui-layout-unit-bottom</td>
            <td>Applied to the root element of the bottom unit.</td>
        </tr>
        <tr class="odd">
            <td>.yui-layout-unit-center</td>
            <td>Applied to the root element of the center unit.</td>
        </tr>
        <tr>
            <td>.yui-layout-wrap</td>
            <td>Applied to the wrapper around the Standard Module Format elements inside the root element.</td>
        </tr>
        <tr class="odd">
            <td>.yui-layout-scroll</td>
            <td>Applied to the root element of the unit when the config option <code>scroll</code> is set to true.</td>
        </tr>
        <tr>
            <td>.yui-layout-hd</td>
            <td>Applied to the header element of the unit.</td>
        </tr>
        <tr class="odd">
            <td>.yui-layout-bd</td>
            <td>Applied to the body element of the unit.</td>
        </tr>
        <tr>
            <td>.yui-layout-bd-nohd</td>
            <td>Applied to the body element of the unit if there is no header present.</td>
        </tr>
        <tr class="odd">
            <td>.yui-layout-bd-noft</td>
            <td>Applied to the body element of the unit if there is no footer elemen present.</td>
        </tr>
        <tr>
            <td>.yui-layout-ft</td>
            <td>Applied to the footer element of the unit.</td>
        </tr>
        <tr class="odd">
            <td>.yui-resize*</td>
            <td>If the unit is resizable, the Resize Utility's classes will be applied to the root element.</td>
        </tr>
    </table>
</div>

<h2 id="skinning">Skinning a Layout</h2>

<p>The Layout Manager comes with a default presentation or "skin," part of the "Sam Skin" visual treatment that accompanies most YUI controls. You can read more about the general approach to skinning YUI components <a href="/yui/articles/skinning/">in this in-depth article</a>.</p>

<p>The CSS provided with the Layout Manager is comprised of core, functional CSS as well as the Sam Skin visual treatment.</p>

<p>To explore the CSS which controls the Layout Manager's presentation, please review <a href="/yui/examples/layout/skinning_layout.html">the Layout Manager's Skinning Example</a> wherein the full CSS for the control is displayed.</p>


<?php
include "../inc/mobileSection.inc";
?>

<p>The Layout Manager is not officially supported on a mobile device. Mobile devices tend to not report browser resize events properly or screen size properly. These events and properties are what the Layout Manager uses to make it's calculations. So if they are incorrect then the layout will render incorrectly.</p>

<p>This situation is likely to improve over time, but for now Layout Manager is an implementation that you'd want to test very carefully before serving to mobile devices as part of your UI.  The documentation for the Yahoo Global Object has <a href="http://developer.yahoo.com/yui/yahoo/#mobile">sample code you can use to target mobile devices in JavaScript</a>.</p>


<?php 
include "../inc/support.inc";
?>

		</div>
         <div class="yui-u">
		 	
			<div id="cheatsheet">
				<h3>Layout Manager Cheat Sheet:</h3>
				
				<a href="http://yuiblog.com/assets/pdf/cheatsheets/layout.pdf"><img src="http://us.i1.yimg.com/us.yimg.com/i/ydn/yuiweb/img/cheatsheet-images/layout.gif" width="178" height="135" alt="Cheat Sheet for the Layout Manager."></a>
				
			  <p><a href="/yui/docs/assets/cheatsheets.zip">Download full set of cheat sheets.</a></p>
			</div>
			
			<div id="examples">
<?php 
	include("../inc/examplesNav/".$section.".inc");
?>
		   </div>
		   
<?php 
$thisURI="http://developer.yahoo.com/yui/layout/";
require_once('../inc/badge.inc');
?>
<h3 id="delicious">YUI Layout Manager on del.icio.us:</h3>
<div class="delicious">
<?php require('../inc/badge-html.inc'); ?>
</div>

		 </div>
      </div>

</div>
</div>

<?php include "../inc/side.inc" ?>
<?php include "../inc/footer.inc" ?>

