#bgImg {
	margin-left:75px;
	filter:alpha(opacity=50);
	-moz-opacity:.50;
	opacity:.50;
	z-index:0;
}

.yui-calendar td.sunday {
	background-color: rgb(253, 224, 224);
}

.yui-calendar td.sunday a {
	color:red;
}