body {
    font-family: sans-serif;
    color: #777;
    
}


h1,h2,h3,h4,h5,h6 {
    font-family: sans-serif;
    font-weight: 300;
}
h3 {
    font-weight: bold;
}

h4 {
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

.header {
     min-height: 80px;
     margin: 0;
     padding: 50px 20px 30px;
     text-align: center;
     border-bottom:1px solid #eee;
 }
    .header h1 {
        margin: 0.2em 0;
        font-size:3em;
    }
     .header h2 {
         font-weight:300;
         margin:0;
     }


.content {
    margin: 0 auto;
    width: 70%;
    margin-bottom:50px;
}
    .content p {
        line-height: 1.6em;
        font-size: 115%;
    }

    .content h1 {
        text-shadow: 0 1px 0 rgba(0,0,0,0.2);
    }
    .content h2 {
        color:rgb(75, 75, 75);
        margin:50px 0 20px 0;
        font-weight:bold;
    }
    .content .primary-button {
        color: rgb(34, 121, 48);
        background: rgb(150, 224, 136);
        font-size: 130%;
        display: block;
        width: 50%;
        margin: 0 auto;

    }


/* NAVIGATION HEADER */
#headerMenu {
    background: #111;
    color: #fff;
    border-bottom: none;
}

    #headerMenu a:hover {
        background: #222;
        border-color: #222;
    }
    #headerMenu a {
        color: #fff;
        text-shadow: none;
    }

    #headerMenu .yui3-menu-active {
        background: #222;
    }

    .content code {
        font-size: 75%;
        padding: 0.4em 0.6em;
    }

    .content pre code {
        font-size: inherit;
    }


.gist {
    margin-top:25px;
}
.gist::before {
    content: "Code:";
    margin-bottom: 10px;
    display: block; 
    font-family: sans-serif;
    font-weight: 300;
}



@media (max-width: 767px) {
    #headerMenu {
        position: relative;
    }
    #headerMenu .yui3-menu-heading {
        text-align: center;
        display: block;
    }
    #headerMenu ul {
        display: block;
        text-align: center;
    }
    #headerMenu a {
        font-size:80%;
    }

    .content {
        width: 95%;
    }
}

/** page specific styles **/
    .header {
        background: rgb(53, 41, 116);
    }
    .header h1 {
        color: white;
    }
    .header h2 {
        font-weight:300;
        margin:0;
        color: rgb(116, 130, 230);
    }
