.yuibutton  {

    display:-moz-inline-box; /* Mozilla */
    display:inline-block; /* IE, Opera and Safari */

    border-width:1px 0;
    border-style:solid;
    border-color:#999;
    
    background-color:#ecece3;
    background-position:left center;
    background-image:url(../img/background.png);

    /* Give the transparent background image to IE */
    _background-image:none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/background.png', sizingMethod = 'scale');
    
    margin:auto .25em;
    
}

.yuibutton span {

    display:-moz-inline-box; /* Mozilla */
    display:block; /* Opera and Safari */
    *display:inline-block; /* IE */

    border-width:0 1px;
    border-style:solid;
    border-color:#999;
    
    margin:0 -1px;
    *position:relative;
    *left:-1px;

}

.yuibutton button {

    display:-moz-inline-box; /* Mozilla */
    display:block; /* Opera and Safari */
    *display:inline-block; /* IE */

    overflow:visible; /* Remove superfluous padding for IE */
    font-size:100%; /* Makes form controls resizable in IE */
    
    padding:.25em .5em;
    border:1px solid #ccc;

    background-color:transparent;
    cursor:pointer;
    cursor:hand;

}

.yuibutton a {

    display:-moz-inline-box; /* Mozilla */
    display:block; /* Opera and Safari */              
    *display:inline-block; /* IE */
    
    padding:.25em .5em;
    border:1px solid #ccc;
    text-decoration:none;
    color:#000;           

}

.yuibutton.splitbutton button,
.yuibutton.menubutton button {

    padding-right:20px;
    background-position:right center;
    background-repeat:no-repeat;
    
}

.yuibutton.menubutton button {

    background-image:url(../img/menuarrow.gif);

}

.yuibutton.splitbutton button {

    background-image:url(../img/splitarrow.gif);

}


/* Focus state */

.yuibutton.focus {

    border-color:#5e5c95;

}

.yuibutton.focus span {

    border-color:#5e5c95;

}

.yuibutton.focus button, 
.yuibutton.focus a {

    border-color:#cec1fc;

}


/* Hover state */

.yuibutton.hover {

    border-color:#406fac;
    background-color:#98d5fc;

}

.yuibutton.hover span {

    border-color:#406fac;

}

.yuibutton.hover button, 
.yuibutton.hover a {

    border-color:#7099ce;

}


/* Active state */

.yuibutton.active {
    
    border-color:#7a8180;
    background-color:#333;
    
}

.yuibutton.active span {

    border-color:#7a8180;

}

.yuibutton.active button, 
.yuibutton.active a {

    border-color:#98a09f;

}

.yuibutton.splitbutton.activemenu button {

    background-color:transparent;
    background-image:url(../img/splitarrow_active.gif);
    
}



/* Checked state */

.yuibutton.radio.checked,
.yuibutton.checkbox.checked {
    
    border-color:#7a8180;
    background-color:#333;
    
}

.yuibutton.radio.checked span,
.yuibutton.checkbox.checked span {

    border-color:#7a8180;

}

.yuibutton.radio.checked button,
.yuibutton.checkbox.checked button { 

    border-color:#98a09f;

}



/* Disabled state */

.yuibutton.disabled {
    
    border-color:#cbcdc5;
    background:#ecece3;

    _filter:none;
    
}

.yuibutton.disabled span {

    border-color:#cbcdc5;

}

.yuibutton.disabled button, 
.yuibutton.disabled a {

    border-color:transparent;
    color:#b9b9b9;
    cursor:default;

}